div {
    background: -webkit-linear-gradient(40deg, red, pink); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(40deg, red, pink); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(40deg, red, pink); /* Firefox 3.6 - 15 */
    background: linear-gradient(40deg, red, pink); /* 标准的语法 */
}

/* 文字渐变 */
/* https://www.jb51.net/css/647191.html */
