@import '../color/index.scss';
@import '../layout.scss';
@import '../resetUi/resetElement.scss';

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-active {
    opacity: 0;
}

.clearfix {
    &::after {
        content: '';
        height: 0;
        line-height: 0;
        display: block;
        clear: both;
        visibility: hidden;
        zoom: 1; // (兼容IE)
    }
}

a[href] {
    color: $link;
}

// 特殊字体
.special-font {
    font-family: 'RGag', Arial;
}

// 鼠标样式
.cursor {
    cursor: pointer;
}