body,ul {
    margin: 0;
}

body {
    font-family: '微软雅黑', 'Microsoft YaHei', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

li {
    list-style: none;
}

a {
    text-decoration: none; // 去掉下划线
}
