@import "core";

.upload-file {
    width: 300px;
    overflow: hidden;
    position: relative;
    border-radius:12px;
    background:rgba(246,246,246,1);

    .el-upload-dragger {
        width: 300px;
        height: auto;
        border: none;
        border-radius: none;
        background-color: transparent;

        .upload-lib-content {
            .upload-text {
                height: 260px;
                line-height: 260px;

            }

            img {
                max-width: 100%;
            }
        }
    }

    .icon-preview2 {
        top: 10px;
        z-index: 3;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #1785FF;
        position: absolute;
    }
    
    .uf-bottom {
        width: 100%;
        height: 40px;
        cursor: pointer;
        color: #1785FF;
        line-height: 40px;
        text-align: center;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 0px 0px 12px 12px;
    }

    &.success {
        .el-upload-dragger {
            .upload-lib-content {
                padding: 18px 24px;
                min-height: 200px;
                max-height: 500px;
            }
        }

        .uf-header {
            .preview {
                display: block;
            }
        }

        .uf-bottom {
            display: none;
        }

        &:hover {
            .uf-bottom {
                bottom: 0;
                display: flex;
                position: absolute;
    
                >div {
                    width: 50%;
                    text-align: center;
    
                    &:nth-child(1) {
                        color: #1785FF;
                    }
    
                    &:nth-child(2) {
                        color: #E21E1F;
                    }
                }
    
                &::after {
                    top: 50%;
                    left: 50%;
                    width:1px;
                    height:30px;
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: #ddd;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}


