<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="http://www.softwhy.com/" />
    <title>蚂蚁部落</title>
    <script>
        window.onload = function () {
            draw()
        }

        function draw() {
            var canvas = document.getElementById("canvas");
            if (canvas == null) {
                return false;
            }
            var context = canvas.getContext('2d');
            context.fillStyle = "#eeeeff";
            context.fillRect(0, 0, 400, 300);
            var n = 0;
            for (var index = 0; index < 10; index++) {
                context.beginPath();
                context.arc(index * 25, index * 25, index * 10, 0, Math.PI * 2, true);
                context.closePath();
                context.fillStyle = 'rgba(255,0,0,0.25)';
                context.fill();
            }
        }
    </script>
</head>

<body>
    <canvas id="canvas" width="400" height="300"></canvas>
</body>

</html>